# Proyecto 1 - Productividad en manufactura

## Limpieza y aislamiento de datos

### 1. Importación de librerias y lectura de datos

In [2]:
#Importar librerias

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline

C:\Users\andre\AppData\Local\Temp\ipykernel_20976\3740114866.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Lectura de los datos
df_empleados = pd.read_csv("../data/data.txt", delimiter=',')

### 2. Entendimiento de los datos

In [4]:
#Dimensiones de los datos
df_empleados.shape

(1197, 15)

In [5]:
#Resumen del contenido de los datos
df_empleados.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [6]:
# Revisar las características de los datos: completitud y tipo de dato
df_empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

Notamos que solo la variable WIP tiene valores nulos.

In [7]:
#Estadisticas descriptivas de las variables
df_empleados.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [8]:
# Revisar los valores de las variables categoricas
df_empleados.quarter.value_counts()

quarter
Quarter1    360
Quarter2    335
Quarter4    248
Quarter3    210
Quarter5     44
Name: count, dtype: int64

In [9]:
# Revisar los valores de las variables categoricas
df_empleados.department.value_counts()

department
sweing        691
finishing     257
finishing     249
Name: count, dtype: int64

Podemos notar que hay un error de tipografia en la variable "department" y se deben unificar los dos valores de finishing.

### 3. Corrección y preparación de los datos

In [10]:
#Eliminamos la columna con valores nulos

df_clean = df_empleados.drop(columns=['wip'])

#verificamos la eliminacion de la columna
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   over_time              1197 non-null   int64
 8   incentive              1197 non-null   int64
 9   idle_time              1197 non-null   float64
 10  idle_men               1197 non-null   int64
 11  no_of_style_change     1197 non-null   int64
 12  no_of_workers          1197 non-null   float64
 13  actual_productivity    1197 non-null   float64
dtypes: float64(5), int64(5), object(4)
memory usage: 131.1+ KB

In [11]:
# Corrección de variable department

df_clean['department'] = df_clean['department'].str.replace("finishing ", "finishing")

#Verificamos la correcion
df_clean.department.value_counts()

department
sweing       691
finishing    506
Name: count, dtype: int64

### 4. Preparación de datos

In [12]:
# Codificar la variable department

departments = df_clean['department'].tolist()
encoder = LabelEncoder()

encoder.fit(departments)
df_clean['department'] = encoder.transform(departments)
df_clean.department.value_counts()

department
1    691
0    506
Name: count, dtype: int64

In [13]:
# Codificar la variable quarter

dummy_quarter = pd.get_dummies(df_clean['quarter'], prefix='quarter').astype(int)

# Drop the original 'quarter' column from df_clean
df_clean.drop(['quarter'], axis=1, inplace=True)

# Concatenate the original DataFrame with the dummy variables DataFrame
df_clean = pd.concat([df_clean, dummy_quarter], axis=1)

# Print the encoded DataFrame
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   department             1197 non-null   int32
 2   day                    1197 non-null   object
 3   team                   1197 non-null   int64
 4   targeted_productivity  1197 non-null   float64
 5   smv                    1197 non-null   float64
 6   over_time              1197 non-null   int64
 7   incentive              1197 non-null   int64
 8   idle_time              1197 non-null   float64
 9   idle_men               1197 non-null   int64
 10  no_of_style_change     1197 non-null   int64
 11  no_of_workers          1197 non-null   float64
 12  actual_productivity    1197 non-null   float64
 13  quarter_Quarter1       1197 non-null   int32
 14  quarter_Quarter2       1197 non-null   int32
 15  quarter_Quarter3       1197 non-null   int32
 16  quarter_Quarter4       1197 non-null   int32
 17  quarter_Quarter5       1197 non-null   int32
dtypes: float64(5), int32(6), int64(5), object(2)
memory usage: 140.4+ KB

In [14]:
# Codificar la variable day

dummy_day = pd.get_dummies(df_clean['day'], prefix='day').astype(int)

# Drop the original 'quarter' column from df_clean
df_clean.drop(['day'], axis=1, inplace=True)

# Concatenate the original DataFrame with the dummy variables DataFrame
df_clean = pd.concat([df_clean, dummy_day], axis=1)

# Print the encoded DataFrame
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   department             1197 non-null   int32
 2   team                   1197 non-null   int64
 3   targeted_productivity  1197 non-null   float64
 4   smv                    1197 non-null   float64
 5   over_time              1197 non-null   int64
 6   incentive              1197 non-null   int64
 7   idle_time              1197 non-null   float64
 8   idle_men               1197 non-null   int64
 9   no_of_style_change     1197 non-null   int64
 10  no_of_workers          1197 non-null   float64
 11  actual_productivity    1197 non-null   float64
 12  quarter_Quarter1       1197 non-null   int32
 13  quarter_Quarter2       1197 non-null   int32
 14  quarter_Quarter3       1197 non-null   int32
 15  quarter_Quarter4       1197 non-null   int32
 16  quarter_Quarter5       1197 non-null   int32
 17  day_Monday             1197 non-null   int32
 18  day_Saturday           1197 non-null   int32
 19  day_Sunday             1197 non-null   int32
 20  day_Thursday           1197 non-null   int32
 21  day_Tuesday            1197 non-null   int32
 22  day_Wednesday          1197 non-null   int32
dtypes: float64(5), int32(12), int64(5), object(1)
memory usage: 159.1+ KB

In [15]:
# Construccion del indicador Real - Proyectado

df_clean['productivity_indicator'] = df_clean['actual_productivity'] - df_clean['targeted_productivity']

### 5. Imprimir datos

In [16]:
df_clean.to_csv('../data/cleanData.csv', index=False)