LIMPIEZA DE DATOS PROYECTO 3 ANALITICA DE DATOS

In [1]:
#Importar librerias
import pandas as pd

In [2]:
# Lectura de los datos
df_original = pd.read_csv("data/data_icfes.csv", delimiter=',')

In [3]:
#Resumen del contenido de los datos
df_original.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,partition_0
0,20194,TI,SB11201940082829,RURAL,N,A,ACADÉMICO,105628000227,205628000230,5,...,No,Si,A1,51.0,41.0,22,39,35,178,icfes
1,20194,TI,SB11201940082829,RURAL,N,A,ACADÉMICO,105628000227,205628000230,5,...,No,Si,A1,51.0,41.0,22,39,35,178,icfes
2,20194,TI,SB11201940551349,RURAL,N,A,TÉCNICO,219397000461,219397000461,19,...,No,No,A-,45.0,54.0,39,50,46,235,icfes
3,20194,TI,SB11201940551349,RURAL,N,A,TÉCNICO,219397000461,219397000461,19,...,No,No,A-,45.0,54.0,39,50,46,235,icfes
4,20194,TI,SB11201940239533,RURAL,N,A,TÉCNICO/ACADÉMICO,252227000791,252227000791,52,...,No,No,A-,46.0,47.0,35,46,46,218,icfes

In [4]:
#Eliminar columnas que no nos sirven

df_colselec = df_original[[
    "cole_bilingue", "cole_calendario", "cole_caracter", 
    "cole_genero", 
    "cole_jornada", "cole_naturaleza", "cole_sede_principal", 
    "estu_genero", "fami_cuartoshogar", "fami_educacionmadre", 
    "fami_educacionpadre", "fami_estratovivienda", "fami_personashogar", 
    "fami_tieneautomovil", "fami_tienecomputador", "fami_tieneinternet", 
    "fami_tienelavadora", "punt_global"
]]

print(df_colselec.head())

  cole_bilingue cole_calendario      cole_caracter cole_genero cole_jornada  \
0             N               A          ACADÉMICO       MIXTO     COMPLETA
1             N               A          ACADÉMICO       MIXTO     COMPLETA
2             N               A            TÉCNICO       MIXTO       MAÑANA
3             N               A            TÉCNICO       MIXTO       MAÑANA
4             N               A  TÉCNICO/ACADÉMICO       MIXTO       MAÑANA

  cole_naturaleza cole_sede_principal estu_genero fami_cuartoshogar  \
0         OFICIAL                   N           F               Dos
1         OFICIAL                   N           F               Dos
2         OFICIAL                   S           M              Tres
3         OFICIAL                   S           M              Tres
4         OFICIAL                   S           F              Tres

   fami_educacionmadre  fami_educacionpadre fami_estratovivienda  \
0    Primaria completa  Primaria incompleta            Estrato 1
1    Primaria completa  Primaria incompleta            Estrato 1
2              Ninguno              Ninguno            Estrato 2
3              Ninguno              Ninguno            Estrato 2
4  Primaria incompleta  Primaria incompleta            Estrato 3

  fami_personashogar fami_tieneautomovil fami_tienecomputador  \
0              3 a 4                  No                   No
1              3 a 4                  No                   No
2              3 a 4                  No                   No
3              3 a 4                  No                   No
4              7 a 8                  No                   Si

  fami_tieneinternet fami_tienelavadora  punt_global
0                 No                 Si          178
1                 No                 Si          178
2                 No                 No          235
3                 No                 No          235
4                 No                 No          218

In [5]:
# Revisar las características de los datos: completitud y tipo de dato
df_colselec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173669 entries, 0 to 173668
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   cole_bilingue         123614 non-null  object
 1   cole_calendario       173669 non-null  object
 2   cole_caracter         171178 non-null  object
 3   cole_genero           173669 non-null  object
 4   cole_jornada          173669 non-null  object
 5   cole_naturaleza       173669 non-null  object
 6   cole_sede_principal   173669 non-null  object
 7   estu_genero           173609 non-null  object
 8   fami_cuartoshogar     168713 non-null  object
 9   fami_educacionmadre   163212 non-null  object
 10  fami_educacionpadre   163237 non-null  object
 11  fami_estratovivienda  161221 non-null  object
 12  fami_personashogar    168899 non-null  object
 13  fami_tieneautomovil   168263 non-null  object
 14  fami_tienecomputador  168671 non-null  object
 15  fami_tieneinternet    163050 non-null  object
 16  fami_tienelavadora    168730 non-null  object
 17  punt_global           173669 non-null  int64
dtypes: int64(1), object(17)
memory usage: 23.8+ MB

In [6]:
df_colselec.cole_bilingue.value_counts()

cole_bilingue
N    120051
S      3563
Name: count, dtype: int64

In [7]:
df_colselec['cole_bilingue'] = df_colselec['cole_bilingue'].fillna('N')
df_colselec['cole_bilingue'] = df_colselec['cole_bilingue'].map({'N': 0, 'S': 1})


df_colselec.cole_bilingue.value_counts()

C:\Users\andre\AppData\Local\Temp\ipykernel_12292\512583931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colselec['cole_bilingue'] = df_colselec['cole_bilingue'].fillna('N')
C:\Users\andre\AppData\Local\Temp\ipykernel_12292\512583931.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colselec['cole_bilingue'] = df_colselec['cole_bilingue'].map({'N': 0, 'S': 1})

cole_bilingue
0    170106
1      3563
Name: count, dtype: int64

In [8]:
df_colselec.cole_calendario.value_counts()

cole_calendario
A       171436
B         2125
OTRO       108
Name: count, dtype: int64

In [9]:
df_colselec['cole_calendario'] = df_colselec['cole_calendario'].map({'A': 1, 'B': 0, "OTRO": 0})

df_colselec.cole_calendario.value_counts()

C:\Users\andre\AppData\Local\Temp\ipykernel_12292\140646057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colselec['cole_calendario'] = df_colselec['cole_calendario'].map({'A': 1, 'B': 0, "OTRO": 0})

cole_calendario
1    171436
0      2233
Name: count, dtype: int64

In [10]:
df_colselec.cole_jornada.value_counts()

cole_jornada
MAÑANA      96784
COMPLETA    36370
UNICA       19653
SABATINA     8590
TARDE        7872
NOCHE        4400
Name: count, dtype: int64

In [11]:
df_colselec['cole_jornada'] = df_colselec['cole_jornada'].fillna('COMPLETA')

dummy = pd.get_dummies(df_colselec['cole_jornada'], prefix='caracter').astype(int)
df_colselec.drop(['cole_jornada'], axis=1, inplace=True)
df_colselec = pd.concat([df_colselec, dummy], axis=1)

df_colselec.info()

C:\Users\andre\AppData\Local\Temp\ipykernel_12292\763866118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colselec['cole_jornada'] = df_colselec['cole_jornada'].fillna('COMPLETA')
C:\Users\andre\AppData\Local\Temp\ipykernel_12292\763866118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colselec.drop(['cole_jornada'], axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173669 entries, 0 to 173668
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   cole_bilingue         173669 non-null  int64
 1   cole_calendario       173669 non-null  int64
 2   cole_caracter         171178 non-null  object
 3   cole_genero           173669 non-null  object
 4   cole_naturaleza       173669 non-null  object
 5   cole_sede_principal   173669 non-null  object
 6   estu_genero           173609 non-null  object
 7   fami_cuartoshogar     168713 non-null  object
 8   fami_educacionmadre   163212 non-null  object
 9   fami_educacionpadre   163237 non-null  object
 10  fami_estratovivienda  161221 non-null  object
 11  fami_personashogar    168899 non-null  object
 12  fami_tieneautomovil   168263 non-null  object
 13  fami_tienecomputador  168671 non-null  object
 14  fami_tieneinternet    163050 non-null  object
 15  fami_tienelavadora    168730 non-null  object
 16  punt_global           173669 non-null  int64
 17  caracter_COMPLETA     173669 non-null  int32
 18  caracter_MAÑANA       173669 non-null  int32
 19  caracter_NOCHE        173669 non-null  int32
 20  caracter_SABATINA     173669 non-null  int32
 21  caracter_TARDE        173669 non-null  int32
 22  caracter_UNICA        173669 non-null  int32
dtypes: int32(6), int64(3), object(14)
memory usage: 26.5+ MB

In [12]:
df_colselec.cole_naturaleza.value_counts()

cole_naturaleza
OFICIAL       161906
NO OFICIAL     11763
Name: count, dtype: int64

In [13]:
naturaleza_mapping = {
    'OFICIAL': 1,
    'NO OFICIAL': 0
}

df_colselec['cole_naturaleza'] = df_colselec['cole_naturaleza'].map(naturaleza_mapping)
df_colselec.cole_naturaleza.value_counts()

cole_naturaleza
1    161906
0     11763
Name: count, dtype: int64

In [14]:
df_colselec.cole_caracter.value_counts()

cole_caracter
ACADÉMICO            93106
TÉCNICO/ACADÉMICO    41439
TÉCNICO              30199
NO APLICA             6434
Name: count, dtype: int64

In [15]:
df_colselec['cole_caracter'] = df_colselec['cole_caracter'].fillna('NO APLICA')

dummy = pd.get_dummies(df_colselec['cole_caracter'], prefix='caracter').astype(int)
df_colselec.drop(['cole_caracter'], axis=1, inplace=True)
df_colselec = pd.concat([df_colselec, dummy], axis=1)

df_colselec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173669 entries, 0 to 173668
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   cole_bilingue               173669 non-null  int64
 1   cole_calendario             173669 non-null  int64
 2   cole_genero                 173669 non-null  object
 3   cole_naturaleza             173669 non-null  int64
 4   cole_sede_principal         173669 non-null  object
 5   estu_genero                 173609 non-null  object
 6   fami_cuartoshogar           168713 non-null  object
 7   fami_educacionmadre         163212 non-null  object
 8   fami_educacionpadre         163237 non-null  object
 9   fami_estratovivienda        161221 non-null  object
 10  fami_personashogar          168899 non-null  object
 11  fami_tieneautomovil         168263 non-null  object
 12  fami_tienecomputador        168671 non-null  object
 13  fami_tieneinternet          163050 non-null  object
 14  fami_tienelavadora          168730 non-null  object
 15  punt_global                 173669 non-null  int64
 16  caracter_COMPLETA           173669 non-null  int32
 17  caracter_MAÑANA             173669 non-null  int32
 18  caracter_NOCHE              173669 non-null  int32
 19  caracter_SABATINA           173669 non-null  int32
 20  caracter_TARDE              173669 non-null  int32
 21  caracter_UNICA              173669 non-null  int32
 22  caracter_ACADÉMICO          173669 non-null  int32
 23  caracter_NO APLICA          173669 non-null  int32
 24  caracter_TÉCNICO            173669 non-null  int32
 25  caracter_TÉCNICO/ACADÉMICO  173669 non-null  int32
dtypes: int32(10), int64(4), object(12)
memory usage: 27.8+ MB

In [16]:
df_colselec.cole_sede_principal.value_counts()

cole_sede_principal
S                                                   158485
N                                                    15096
I.E. RAFAEL NUÑEZ DE SAN ANDRES - SEDE PRINCIPAL        68
 TOCOTA"                                                20
Name: count, dtype: int64

In [17]:
sede_mapping = {
    'S': 1,
    'N': 0
}

df_colselec['cole_sede_principal'] = df_colselec['cole_sede_principal'].map(sede_mapping)
df_colselec.cole_sede_principal.value_counts()

cole_sede_principal
1.0    158485
0.0     15096
Name: count, dtype: int64

In [18]:
df_colselec.cole_genero.value_counts()

cole_genero
MIXTO        172827
FEMENINO        500
MASCULINO       342
Name: count, dtype: int64

In [19]:
dummy = pd.get_dummies(df_colselec['cole_genero'], prefix='genero').astype(int)
df_colselec.drop(['cole_genero'], axis=1, inplace=True)
df_colselec = pd.concat([df_colselec, dummy], axis=1)

df_colselec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173669 entries, 0 to 173668
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   cole_bilingue               173669 non-null  int64
 1   cole_calendario             173669 non-null  int64
 2   cole_naturaleza             173669 non-null  int64
 3   cole_sede_principal         173581 non-null  float64
 4   estu_genero                 173609 non-null  object
 5   fami_cuartoshogar           168713 non-null  object
 6   fami_educacionmadre         163212 non-null  object
 7   fami_educacionpadre         163237 non-null  object
 8   fami_estratovivienda        161221 non-null  object
 9   fami_personashogar          168899 non-null  object
 10  fami_tieneautomovil         168263 non-null  object
 11  fami_tienecomputador        168671 non-null  object
 12  fami_tieneinternet          163050 non-null  object
 13  fami_tienelavadora          168730 non-null  object
 14  punt_global                 173669 non-null  int64
 15  caracter_COMPLETA           173669 non-null  int32
 16  caracter_MAÑANA             173669 non-null  int32
 17  caracter_NOCHE              173669 non-null  int32
 18  caracter_SABATINA           173669 non-null  int32
 19  caracter_TARDE              173669 non-null  int32
 20  caracter_UNICA              173669 non-null  int32
 21  caracter_ACADÉMICO          173669 non-null  int32
 22  caracter_NO APLICA          173669 non-null  int32
 23  caracter_TÉCNICO            173669 non-null  int32
 24  caracter_TÉCNICO/ACADÉMICO  173669 non-null  int32
 25  genero_FEMENINO             173669 non-null  int32
 26  genero_MASCULINO            173669 non-null  int32
 27  genero_MIXTO                173669 non-null  int32
dtypes: float64(1), int32(13), int64(4), object(10)
memory usage: 28.5+ MB

In [20]:
df_colselec.estu_genero.value_counts()

estu_genero
F             92183
M             81338
15/08/2002        2
17/08/2002        2
20/11/2002        2
01/10/2001        2
02/08/2000        2
31/03/2003        2
09/10/2001        2
28/12/2002        2
01/07/2002        2
14/05/2002        2
01/12/2000        2
14/10/2001        2
16/07/2002        2
07/10/2000        2
19/11/2001        2
22/11/2002        2
03/11/2001        2
04/06/1999        2
28/02/2002        2
28/10/2002        2
05/06/2002        2
26/08/2002        2
23/03/2000        2
31/01/2003        2
31/08/2002        2
31/03/2002        2
26/10/2002        2
27/11/2001        2
03/09/2002        2
14/09/2002        2
02/10/2001        2
17/07/2002        2
04/08/2002        2
04/11/2001        2
09/01/2002        2
01/11/2001        2
26/08/1999        2
18/02/2003        2
20/08/2001        2
22/05/2002        2
28/02/2001        2
27/02/2003        2
18/08/2001        2
11/08/2001        2
Name: count, dtype: int64

In [21]:
estugen_mapping = {
    'F': 1,
    'M': 0
}

df_colselec['estu_genero'] = df_colselec['estu_genero'].map(estugen_mapping)
df_colselec.cole_sede_principal.value_counts()

cole_sede_principal
1.0    158485
0.0     15096
Name: count, dtype: int64

In [22]:
df_colselec.fami_cuartoshogar.value_counts()

fami_cuartoshogar
Dos           62193
Tres          60585
Cuatro        23864
Uno           10146
Cinco          7860
Seis o mas     3977
N                88
Name: count, dtype: int64

In [23]:
cuartoshogar_mapping = {
    'N': 0,
    'Uno': 1,
    'Dos': 2,
    'Tres': 3,
    'Cuatro': 4,
    'Cinco': 5,
    'Seis o mas': 6
}

df_colselec['fami_cuartoshogar'] = df_colselec['fami_cuartoshogar'].map(cuartoshogar_mapping)
df_colselec = df_colselec.dropna(subset=['fami_cuartoshogar'])

df_colselec.fami_cuartoshogar.value_counts()

fami_cuartoshogar
2.0    62193
3.0    60585
4.0    23864
1.0    10146
5.0     7860
6.0     3977
0.0       88
Name: count, dtype: int64

In [24]:
df_colselec.fami_educacionmadre.value_counts()

fami_educacionmadre
Primaria incompleta                     44331
Secundaria (Bachillerato) completa      32853
Primaria completa                       26914
Secundaria (Bachillerato) incompleta    23423
Educación profesional completa           8871
Técnica o tecnológica completa           7782
Ninguno                                  7458
Técnica o tecnológica incompleta         2429
Postgrado                                2324
No sabe                                  2182
Educación profesional incompleta         1744
No Aplica                                 414
Dos                                        50
Tres                                       22
Cuatro                                      8
Uno                                         6
Cinco                                       2
Name: count, dtype: int64

In [25]:
educacion_mapping = {
    None: 0,
    'No Aplica': 0,
    'No sabe': 0,
    'Ninguno': 0,
    'Primaria incompleta': 1,
    'Primaria completa': 1,
    'Secundaria (Bachillerato) incompleta': 2,
    'Secundaria (Bachillerato) completa': 2,
    'Educación profesional incompleta': 3,
    'Educación profesional completa': 3,
    'Técnica o tecnológica incompleta': 3,
    'Técnica o tecnológica completa': 3,
    'Postgrado': 4,
    'Uno': 1,
    'Dos': 2,
    'Tres': 3,
    'Cuatro': 4,
    'Cinco': 5
}

df_colselec['fami_educacionmadre'] = df_colselec['fami_educacionmadre'].map(educacion_mapping)
df_colselec.fami_educacionmadre.value_counts()

fami_educacionmadre
1.0    71251
2.0    56326
3.0    20848
0.0    10054
4.0     2332
5.0        2
Name: count, dtype: int64

In [26]:
df_colselec.fami_educacionpadre.value_counts()

fami_educacionpadre
Primaria incompleta                     54270
Primaria completa                       25275
Secundaria (Bachillerato) completa      25015
Secundaria (Bachillerato) incompleta    19249
Ninguno                                 10614
Educación profesional completa           7768
No sabe                                  6740
Técnica o tecnológica completa           4875
Postgrado                                2240
Técnica o tecnológica incompleta         1706
No Aplica                                1615
Educación profesional incompleta         1453
Name: count, dtype: int64

In [27]:
df_colselec['fami_educacionpadre'] = df_colselec['fami_educacionpadre'].map(educacion_mapping)
df_colselec.fami_educacionpadre.value_counts()

fami_educacionpadre
1.0    79545
2.0    44264
0.0    18969
3.0    15802
4.0     2240
Name: count, dtype: int64

In [28]:
df_colselec.fami_estratovivienda.value_counts()

fami_estratovivienda
Estrato 1                               71989
Estrato 2                               42998
Estrato 3                               17036
Sin Estrato                             14803
Estrato 4                                6654
Estrato 5                                3167
Estrato 6                                2131
Ninguno                                    22
Primaria incompleta                        18
Secundaria (Bachillerato) incompleta       16
Primaria completa                          10
Secundaria (Bachillerato) completa          8
Postgrado                                   2
Educación profesional incompleta            2
Educación profesional completa              2
Name: count, dtype: int64

In [29]:
education_values = [
    'Primaria incompleta', 'Secundaria (Bachillerato) incompleta',
    'Primaria completa', 'Secundaria (Bachillerato) completa',
    'Postgrado', 'Educación profesional incompleta',
    'Educación profesional completa'
]

df_colselec = df_colselec[~df_colselec['fami_estratovivienda'].isin(education_values)]

df_colselec.fami_estratovivienda.value_counts()

fami_estratovivienda
Estrato 1      71989
Estrato 2      42998
Estrato 3      17036
Sin Estrato    14803
Estrato 4       6654
Estrato 5       3167
Estrato 6       2131
Ninguno           22
Name: count, dtype: int64

In [30]:
estrato_mapping = {
    None: 0,
    'Sin Estrato': 0,
    'Estrato 1': 1,
    'Estrato 2': 2,
    'Estrato 3': 3,
    'Estrato 4': 4,
    'Estrato 5': 5,
    'Estrato 6': 6,
    'Ninguno': 0  
}

df_colselec['fami_estratovivienda'] = df_colselec['fami_estratovivienda'].map(estrato_mapping)

df_colselec.fami_estratovivienda.value_counts()

fami_estratovivienda
1.0    71989
2.0    42998
3.0    17036
0.0    14825
4.0     6654
5.0     3167
6.0     2131
Name: count, dtype: int64

In [31]:
df_colselec.fami_personashogar.value_counts()

fami_personashogar
3 a 4          71067
5 a 6          59796
7 a 8          19576
1 a 2          10116
9 o más         7434
Sin Estrato        8
Estrato 1          6
Estrato 4          4
Estrato 6          2
Name: count, dtype: int64

In [32]:
misentered_values = ['Sin Estrato', 'Estrato 1', 'Estrato 4', 'Estrato 6']
df_colselec = df_colselec[~df_colselec['fami_personashogar'].isin(misentered_values)]

personas_mapping = {
    '3 a 4': 3,
    '5 a 6': 5,
    '7 a 8': 7,
    '1 a 2': 1,
    '9 o más': 9
}

df_colselec['fami_personashogar'] = df_colselec['fami_personashogar'].map(personas_mapping)

df_colselec.fami_personashogar.value_counts()

fami_personashogar
3.0    71067
5.0    59796
7.0    19576
1.0    10116
9.0     7434
Name: count, dtype: int64

In [33]:
df_colselec.fami_tieneautomovil.value_counts()

fami_tieneautomovil
No       138009
Si        29323
5 a 6         4
3 a 4         4
7 a 8         2
Name: count, dtype: int64

In [34]:
misentered_values = ['5 a 6', '3 a 4', '7 a 8']
df_colselec = df_colselec[~df_colselec['fami_tieneautomovil'].isin(misentered_values)]

binary_mapping = {
    'No': 0,
    'Si': 1
}

df_colselec['fami_tieneautomovil'] = df_colselec['fami_tieneautomovil'].map(binary_mapping)

df_colselec.fami_tieneautomovil.value_counts()

fami_tieneautomovil
0.0    138009
1.0     29323
Name: count, dtype: int64

In [35]:
df_colselec.fami_tienecomputador.value_counts()

fami_tienecomputador
No    113077
Si     54649
Name: count, dtype: int64

In [36]:
df_colselec['fami_tienecomputador'] = df_colselec['fami_tienecomputador'].map(binary_mapping)

df_colselec.fami_tienecomputador.value_counts()

fami_tienecomputador
0.0    113077
1.0     54649
Name: count, dtype: int64

In [37]:
df_colselec.fami_tieneinternet.value_counts()

fami_tieneinternet
No    113947
Si     46614
Name: count, dtype: int64

In [38]:
df_colselec['fami_tieneinternet'] = df_colselec['fami_tieneinternet'].map(binary_mapping)

df_colselec.fami_tieneinternet.value_counts()

fami_tieneinternet
0.0    113947
1.0     46614
Name: count, dtype: int64

In [39]:
df_colselec.fami_tienelavadora.value_counts()

fami_tienelavadora
Si    100581
No     67208
Name: count, dtype: int64

In [40]:
df_colselec['fami_tienelavadora'] = df_colselec['fami_tienelavadora'].map(binary_mapping)

df_colselec.fami_tienelavadora.value_counts()

fami_tienelavadora
1.0    100581
0.0     67208
Name: count, dtype: int64

In [41]:
df_cleaned = df_colselec.dropna()

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155895 entries, 0 to 173668
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   cole_bilingue               155895 non-null  int64
 1   cole_calendario             155895 non-null  int64
 2   cole_naturaleza             155895 non-null  int64
 3   cole_sede_principal         155895 non-null  float64
 4   estu_genero                 155895 non-null  float64
 5   fami_cuartoshogar           155895 non-null  float64
 6   fami_educacionmadre         155895 non-null  float64
 7   fami_educacionpadre         155895 non-null  float64
 8   fami_estratovivienda        155895 non-null  float64
 9   fami_personashogar          155895 non-null  float64
 10  fami_tieneautomovil         155895 non-null  float64
 11  fami_tienecomputador        155895 non-null  float64
 12  fami_tieneinternet          155895 non-null  float64
 13  fami_tienelavadora          155895 non-null  float64
 14  punt_global                 155895 non-null  int64
 15  caracter_COMPLETA           155895 non-null  int32
 16  caracter_MAÑANA             155895 non-null  int32
 17  caracter_NOCHE              155895 non-null  int32
 18  caracter_SABATINA           155895 non-null  int32
 19  caracter_TARDE              155895 non-null  int32
 20  caracter_UNICA              155895 non-null  int32
 21  caracter_ACADÉMICO          155895 non-null  int32
 22  caracter_NO APLICA          155895 non-null  int32
 23  caracter_TÉCNICO            155895 non-null  int32
 24  caracter_TÉCNICO/ACADÉMICO  155895 non-null  int32
 25  genero_FEMENINO             155895 non-null  int32
 26  genero_MASCULINO            155895 non-null  int32
 27  genero_MIXTO                155895 non-null  int32
dtypes: float64(11), int32(13), int64(4)
memory usage: 26.8 MB

In [42]:

df_cleaned.to_csv('data/data_limpia.csv', index=False)