LIMPIEZA DE DATOS PROYECTO 2 ANALITICA DE DATOS

In [2]:
#Importar librerias
import pandas as pd

C:\Users\juanf\AppData\Local\Temp\ipykernel_20344\3140330209.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Lectura de los datos
df_original = pd.read_csv("data.csv", delimiter=',')

In [4]:
#Resumen del contenido de los datos
df_original.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
# Revisar las caracterÃ­sticas de los datos: completitud y tipo de dato
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [6]:
df_original = df_original[~df_original['EDUCATION'].isin([0, 5, 6])]

# Mostrar el DataFrame despuÃ©s de filtrar
print(df_original)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[29655 rows x 25 columns]

Como no hay datos nulos no hace falta limpiar la base de datos. Ya que no hay variables categoricas, no van a haber variables dummies y se lleva a cabo el debido analisis

In [7]:
df_original = df_original[df_original['MARRIAGE'] != 0]

# Display the DataFrame after filtering
print(df_original)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[29601 rows x 25 columns]

In [8]:
# Mapping dictionary for conversion
gender_mapping = {2: 0, 1: 1}

# Applying the mapping to the gender column
df_original['SEX'] = df_original['SEX'].map(gender_mapping)

# Displaying the DataFrame after conversion
print(df_original)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    0          2         1   24      2      2     -1
1          2     120000    0          2         2   26     -1      2      0
2          3      90000    0          2         2   34      0      0      0
3          4      50000    0          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[29601 rows x 25 columns]

In [9]:
# Codificar la variable education

dummy_quarter = pd.get_dummies(df_original['EDUCATION'], prefix='').astype(int)

# Drop the original 'education' column from df_clean
df_original.drop(['EDUCATION'], axis=1, inplace=True)

# Concatenate the original DataFrame with the dummy variables DataFrame
df_original = pd.concat([df_original, dummy_quarter], axis=1)

# Print the encoded DataFrame
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29601 entries, 0 to 29999
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          29601 non-null  int64
 1   LIMIT_BAL                   29601 non-null  int64
 2   SEX                         29601 non-null  int64
 3   MARRIAGE                    29601 non-null  int64
 4   AGE                         29601 non-null  int64
 5   PAY_0                       29601 non-null  int64
 6   PAY_2                       29601 non-null  int64
 7   PAY_3                       29601 non-null  int64
 8   PAY_4                       29601 non-null  int64
 9   PAY_5                       29601 non-null  int64
 10  PAY_6                       29601 non-null  int64
 11  BILL_AMT1                   29601 non-null  int64
 12  BILL_AMT2                   29601 non-null  int64
 13  BILL_AMT3                   29601 non-null  int64
 14  BILL_AMT4                   29601 non-null  int64
 15  BILL_AMT5                   29601 non-null  int64
 16  BILL_AMT6                   29601 non-null  int64
 17  PAY_AMT1                    29601 non-null  int64
 18  PAY_AMT2                    29601 non-null  int64
 19  PAY_AMT3                    29601 non-null  int64
 20  PAY_AMT4                    29601 non-null  int64
 21  PAY_AMT5                    29601 non-null  int64
 22  PAY_AMT6                    29601 non-null  int64
 23  default payment next month  29601 non-null  int64
 24  _1                          29601 non-null  int32
 25  _2                          29601 non-null  int32
 26  _3                          29601 non-null  int32
 27  _4                          29601 non-null  int32
dtypes: int32(4), int64(24)
memory usage: 6.1 MB

In [10]:
# Codificar la variable day

dummy_casamiento = pd.get_dummies(df_original['MARRIAGE'], prefix='MARRIAGE').astype(int)

# Drop the original 'quarter' column from df_clean
df_original.drop(['MARRIAGE'], axis=1, inplace=True)

# Concatenate the original DataFrame with the dummy variables DataFrame
df_original = pd.concat([df_original, dummy_casamiento], axis=1)

# Print the encoded DataFrame
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29601 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          29601 non-null  int64
 1   LIMIT_BAL                   29601 non-null  int64
 2   SEX                         29601 non-null  int64
 3   AGE                         29601 non-null  int64
 4   PAY_0                       29601 non-null  int64
 5   PAY_2                       29601 non-null  int64
 6   PAY_3                       29601 non-null  int64
 7   PAY_4                       29601 non-null  int64
 8   PAY_5                       29601 non-null  int64
 9   PAY_6                       29601 non-null  int64
 10  BILL_AMT1                   29601 non-null  int64
 11  BILL_AMT2                   29601 non-null  int64
 12  BILL_AMT3                   29601 non-null  int64
 13  BILL_AMT4                   29601 non-null  int64
 14  BILL_AMT5                   29601 non-null  int64
 15  BILL_AMT6                   29601 non-null  int64
 16  PAY_AMT1                    29601 non-null  int64
 17  PAY_AMT2                    29601 non-null  int64
 18  PAY_AMT3                    29601 non-null  int64
 19  PAY_AMT4                    29601 non-null  int64
 20  PAY_AMT5                    29601 non-null  int64
 21  PAY_AMT6                    29601 non-null  int64
 22  default payment next month  29601 non-null  int64
 23  _1                          29601 non-null  int32
 24  _2                          29601 non-null  int32
 25  _3                          29601 non-null  int32
 26  _4                          29601 non-null  int32
 27  MARRIAGE_1                  29601 non-null  int32
 28  MARRIAGE_2                  29601 non-null  int32
 29  MARRIAGE_3                  29601 non-null  int32
dtypes: int32(7), int64(23)
memory usage: 6.2 MB

In [11]:
#Estadisticas descriptivas de las variables
df_original.describe()

,ID,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT5,PAY_AMT6,default payment next month,_1,_2,_3,_4,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
count,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,...,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000
mean,14971.758927,167550.544914,0.396811,35.464072,-0.014932,-0.131313,-0.163440,-0.218303,-0.263978,-0.287558,...,4795.032735,5181.326374,0.223134,0.357454,0.473768,0.164623,0.004155,0.455289,0.533968,0.010743
std,8660.184430,129944.020953,0.489244,9.213243,1.124503,1.199642,1.199793,1.172220,1.136217,1.152206,...,15244.217154,17657.260739,0.416355,0.479258,0.499320,0.370846,0.064328,0.498005,0.498853,0.103091
min,1.000000,10000.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7474.000000,50000.000000,0.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,259.000000,138.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14953.000000,140000.000000,0.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1500.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,22463.000000,240000.000000,1.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4042.000000,4000.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,30000.000000,1000000.000000,1.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,426529.000000,528666.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
NuevoData = df_original
NuevoData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29601 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          29601 non-null  int64
 1   LIMIT_BAL                   29601 non-null  int64
 2   SEX                         29601 non-null  int64
 3   AGE                         29601 non-null  int64
 4   PAY_0                       29601 non-null  int64
 5   PAY_2                       29601 non-null  int64
 6   PAY_3                       29601 non-null  int64
 7   PAY_4                       29601 non-null  int64
 8   PAY_5                       29601 non-null  int64
 9   PAY_6                       29601 non-null  int64
 10  BILL_AMT1                   29601 non-null  int64
 11  BILL_AMT2                   29601 non-null  int64
 12  BILL_AMT3                   29601 non-null  int64
 13  BILL_AMT4                   29601 non-null  int64
 14  BILL_AMT5                   29601 non-null  int64
 15  BILL_AMT6                   29601 non-null  int64
 16  PAY_AMT1                    29601 non-null  int64
 17  PAY_AMT2                    29601 non-null  int64
 18  PAY_AMT3                    29601 non-null  int64
 19  PAY_AMT4                    29601 non-null  int64
 20  PAY_AMT5                    29601 non-null  int64
 21  PAY_AMT6                    29601 non-null  int64
 22  default payment next month  29601 non-null  int64
 23  _1                          29601 non-null  int32
 24  _2                          29601 non-null  int32
 25  _3                          29601 non-null  int32
 26  _4                          29601 non-null  int32
 27  MARRIAGE_1                  29601 non-null  int32
 28  MARRIAGE_2                  29601 non-null  int32
 29  MARRIAGE_3                  29601 non-null  int32
dtypes: int32(7), int64(23)
memory usage: 6.2 MB

In [14]:

NuevoData.to_csv('NuevoData.csv', index=False)